/* Reset format html */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:calibri, "segoe ui", arial, tahoma, sans-serif;
}

/* Mengubah warna background */
body {
    background-color: #bbe4e9;
}

/* Membuat isi content (wrapper) rata tengah */
#wrapper {
    width: 90%;
    margin:0 auto;
    overflow: hidden;
}

/* Header */
#header1 {
    background: rgb(255,255,255);
    background: #ececec;
    height: flex;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

#Header-img { 
    display:inline-block;
    margin: 1%;
    width: 10%;
    min-width: 40px;
    max-height: 70px;
    background-color: #53a8b6;
    clip-path: circle();
}

#Header-img2 {
    display: inline-block;
    max-width: 450px;
    max-height: 50px;
    mix-blend-mode: multiply;
    vertical-align: middle;
    margin:auto 0;
    overflow: hidden;
}

#header2 {
    background: rgb(255,255,255);
    background: #e8dede;
    height: auto;
    display: inline-block;
    position: relative;
    width: 100%;
}

#Menu-Header {
    display: inline-block;
    margin-top: 1%;
    list-style: none;
}

#Menu-Header li {
    position: relative;
    display: inline-flex;
    padding: 0% 10px;
    border-right: 1px solid #555555;
}

#Menu-Header li a {
    color : #010101;
    text-decoration:none;
}

#header2 form {
    display: inline-block;
    flex-direction: column;
    margin: 1% 2% 1% 2%;
    position: relative;
    box-sizing: border-box;
    resize: both;
}

#daftar-artikel {
    position: relative;
    width:60%;
    float:left;
}

article {
    background:#79c2d0;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}

article img { 
    float: left;
    margin-right:10px;
    width: 30%;
    background-color: #53a8b6;
    clip-path: circle();
    margin: 1em;
}

article strong {
    color:#21282f;
    background:#5585b5;
    padding:4px;
    font-size:12px;
    font-weight:bold;
    margin: 2px;
}

article p {
    margin:10px 0;
}

article a {
    display:block;
    text-align: end;
    color:#0000EE;
    margin: 1px;
}

section {
    margin-top: 1em;
}

#sidebar {
    margin-top: 0.1em;
    width:38%;
    float:right;
}

#sidebar h2{
    font-size:18px;
    margin:10px 0;
}

#sidebar p{
    line-height:20px;
    color : #000000;
}

#sidebar ul{
    margin-left: 1em;
}

#sidebar ul li a{
    color:#0000EE;
    text-decoration:none;
}

footer{
    clear:both;
    margin:20px 0;
    text-align:center;
    background-color: #f0f0f0;
    padding:5px;
    color:#555555;
}